@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$title-font: "Orbitron", serif;
$body-font: "Roboto", serif;
$btn-font: "Oswald", serif;
$footer-font: "Work Sans", serif;

$background-global: #1c1c1e;

$header-color: linear-gradient(90deg, #1a1a2e, #533483);
$header-text-color: #64ffda;

$text-color-title: #ffffff;
$text-color-body: #e0e0e0;

$btn-background-color: linear-gradient(90deg, #ff5722, #ff79c6);
$btn-text-color: #f5f5f5;
$btn-hover-color: #00ffab;

$footer-background-color: #161616;
$footer-text-color: #b0b0b0;

$icons-color: #bb86fc;

$animation-color: #00ffab;
