@use "../../Sass/base/variables";

header {
  padding: 0 3%;
  background: variables.$header-color;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: variables.$header-text-color;
  }

  .nav-container {
    width: 30%;
    display: flex;
    justify-content: space-around;

    a {
      color: variables.$header-text-color;
    }
  }
}
